.bg-purple {
  background-color: #6b21a8;
}
.bg-biru {
  background-color: #4c16a7;
}
.bg-orange {
  background-color: #fe7163;
}
.bg-orange:hover {
  background-color: #fe6363;
}
.a:hover {
  color: #fe6363;
}
.fs-7 {
  font-size: 3rem !important;
}
.btn-primary,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #fe7163;
  border: none;
  --bs-btn-focus-box-shadow: none;
}
.card {
  height: 100% !important;
}
.card-img-top {
  height: 400px;
  object-fit: cover;
}
.pmb {
  max-width: 75%;
  height: auto;
}

.lgf {
  background-color: #eeeeee;
}

#bt {
  text-align: center;
}
.tf {
  color: white;
}
.tf:hover {
  color: #ffa900;
}
.img {
  height: auto !important;
}
.nu {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.2px);
  -webkit-backdrop-filter: blur(2.2px);
  border: 1px solid rgba(255, 255, 255, 0.21);
}
#konsentrasi {
  width: 15rem;
  border: #eeeeee 4px solid;
  border-radius: 20px !important;
}

.Akademik {
  margin-top: 5rem;
  background-color: white;
}

.amig {
  color: black;
  text-decoration: none;
}

#folo {
  margin-top: 1.5rem;
  width: 100%;
  background-color: #ffa900;
}
#un {
  font-size: xx-large;
}

.mo:hover {
  color: #ffa900;
}

.a {
  color: white;
  font-weight: 500;
}
.mo {
  color: white;
  font-weight: 500;
}
