* {
  font-family: "Noto Sans", sans-serif !important;
}
.bg-purple {
  background-color: #6b21a8;
}
.bg-orange {
  background-color: #fe7163;
}
.bg-orange:hover {
  background-color: #fe6363;
}
.ks1 {
  background-image: url("/assets/img/2d.jpg") !important;
}
.pmb {
  max-width: 100%;
  height: auto;
}
